.card {
  display: flex;
  width: 100%;
  max-width: 500px;

  min-height: 150px;
  max-height: 180px;

  gap: .5rem;

  border-color: transparent;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;

  color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%)
}

.figure {
  width: 35%;
  margin: 0;
}

.figure img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: .5rem 0;


}

.rating {
  display: flex;
  gap: .5rem;
  align-items: center;
}
.rating svg {
  color: #edb100;
}

.genres {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.btnContainer{
  display: flex;
  justify-content: center;
  width: 15%;
  align-items: center;
  padding-right: .5rem;
}