@import './modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

  /* colors */
  --white: #f1f2f3;
  --fuchsia: #F22E9A;
  --electricBlue: #44D2F2;
  /*  */

  --borderRadius: .5rem;
  --retroFont: 'Press Start 2P',
    cursive;
}

body{
  background-image: linear-gradient(to right bottom, #090c15, #0d0c1a, #140b1e, #1b0a20, #220720);
  user-select: none;
}

.container{
  width: 90%;
  max-width: 1200px;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  padding-bottom: 3rem;
}

a{
  text-decoration: none;
  vertical-align: middle;
}

.title-retro {
  color: var(--white);
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Press Start 2P', cursive;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  text-shadow:
    0 0 1px var(--electricBlue),
    0 0 5px var(--electricBlue),
    0 0 10px var(--electricBlue),
    0 0 20px var(--electricBlue),
    0 0 40px var(--electricBlue);
}

.title-retro:hover {
  text-shadow:
    0 0 1px var(--fuchsia),
    0 0 5px var(--fuchsia),
    0 0 10px var(--fuchsia),
    0 0 20px var(--fuchsia),
    0 0 40px var(--fuchsia);
}

.btn{
  /* reset */
    outline: none;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
  /*  */
  border-style: solid;
  border-color: var(--fuchsia);
  border-radius: var(--borderRadius);
  border-width: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem .6rem;
  margin: 0 auto ;

  color: var(--fuchsia);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1rem;

  /* filter: drop-shadow(0 0 15px var(--fuchsia)) drop-shadow(0 0 20px var(--fuchsia)) contrast(2) brightness(2); */
}

.btn:hover{
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}
